.react-count-down {
    margin     : 0;
    padding    : 2rem;
    font-family: 'Vollkorn', cursive;
    text-align : center;
}

.react-count-down .prefix {
    font-size  : 1.5rem;
    font-weight: 200;
    line-height: 1.5;
    // color      : #03CC85;
}

.react-count-down .date {
    font-size  : 3rem;
    font-weight: 200;
    line-height: 1.5;
    color      : $white;
}
